body{
    background-image: url('https://images.acvmagazine.com/file/BIT-Magazine-Images/shutterstock_1028403757.jpg');
}

.body-login{
    
    
    
}
.Sign_in{
    padding: 25px;
    color: white;
    height: 550px;
    width: 450px;
    background-color: rgba(0,0,0,0.5) !important;

    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 0px solid #000000;

  

}
.Sign_up{
    padding: 25px;
    color: white;
    height: 600px;
    width: 450px;
    background-color: rgba(0,0,0,0.5) !important;

    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 0px solid #000000;
    
}

.enviar{
    align-items: center;
}