
.Sign_in{
    padding: 10px;
    color: white;
    height: 350px;
    width: 350px;
    background-color: rgba(0,0,0,0.5) !important;

    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 0px solid #000000;

  

}
.Sign_up{
    padding: 10px;
    color: white;
    height: 620px;
    width: 350px;
    background-color: rgba(0,0,0,0.5) !important;

    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 0px solid #000000;
    
}

.enviar{
    align-items: center;
}