.body-manager{
    padding-top: 15px;
}
.body-menu{
    color: white;
    
    background-color: rgba(0,0,0,0.5) !important;

    

    
    height: 90vh;
    width: 25vw;
    float: left;

   
}
.body-opcion{
    color: white;
    
    background-color: rgba(0,0,0,0.9) !important;



    height: 90vh;
    width: 70vw;
    float: right;
}   
.img{
    align-content: center;
}


#VerAlertas{
    display: none;
}
#VerSensores{
    display: none;
}

#VerPatrullas{
    display: none;
}

#RegistrarAlertas{
    display: none;
}
#RegistrarSensores{
    display: none;
}

#RegistrarPatrullas{
    display: none;
}

#MiCuenta{
    
}
#Usuarios{
    display: none;
}

#Otros{
    display: none;
}
