.notificaciones{
    overflow: auto;
    height: 100vh;
   
}
.notificaciones::-webkit-scrollbar{
    width: 10px;
   
}
.google-map{
    -webkit-box-shadow: 0px 0px 69px 24px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 69px 24px rgba(0,0,0,0.81);
    box-shadow: 0px 0px 69px 24px rgba(0,0,0,0.81);
}
.nota{
    color: white;
    
    background-color: rgba(0,0,0,0.5) !important;

    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 0px solid #000000;

    height: 230px;

   
}
h6{
    padding-left: 20px;
}
h4{
    padding-left: 15px;
    padding-top: 15px;
}
.button-enviar-cerrar{
    padding-left: 42%;
    padding-top: 10px;
    
}
.sensores{

}
.titulo-Notificaciones{
    color: rgba(252,0,0,100);
    padding-top: 20px;
    
    text-align: center;
    align-content: center;

}

.titulo-google-map{
    color: rgba(0,252,0,100);
    padding-top: 20px;
    
    text-align: center;
    align-content: center;
}
.titulo-Informacion{
    color: white;
    padding-top: 20px;
    
}

.sensores{
    color: green;
    padding-top: 20px;
    
    
}
.patrullas{
    color: red;
    padding-top: 20px;
    
   
}