.notificaciones{
    overflow: auto;
    height: 100vh;
   
}
.notificaciones::-webkit-scrollbar{
    width: 10px;
   
}
.google-map{
    -webkit-box-shadow: 0px 0px 69px 24px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 69px 24px rgba(0,0,0,0.81);
    box-shadow: 0px 0px 69px 24px rgba(0,0,0,0.81);
    width: 100vw;
}
.nota{
    color: white;
    
    background-color: rgba(0,0,0,0.5) !important;

    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 0px solid #000000;

    height: 120px;
    width: 100%;

   
}
h6{
    padding-left: 10px;
}
h4{
    padding-left: 10px;
    padding-top: 10px;
}
.button-enviar-cerrar{
    float: right;
   
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 5px;
    
}
.button-enviar-enviar{
    float: right;
   
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    
}
.listaDesensores{
    width: 280px;
    color: grey;
    
    background-color: rgba(0,0,0,0.5) !important;

    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 0px solid #000000;
    padding: 15px;
}
.sensore_bar{
    overflow: auto;
    height: 50vh;
   
}
.sensore_bar::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
.sensore_bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  .sensore_bar::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .sensore_bar::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }


.titulo-Notificaciones{
    color: rgba(252,0,0,100);
    padding-top: 20px;
    
    text-align: center;
    align-content: center;

}

.titulo-google-map{
    color: rgba(0,252,0,100);
    padding-top: 20px;
    
    text-align: center;
    align-content: center;
}
.titulo-Informacion{
    color: white;
    padding-top: 20px;
    
}

.sensores{
    color: green;
    padding-top: 10px;
 
}

.patrullas{
    color: red;
    padding-top: 10px;
    
   
}